.container {
  margin: 0 auto;
}
.task-container {
  text-align: center;
  display: grid;
  grid-template-areas:
  'title title'
  'tasks check';
}

.task-head {
  grid-area: title;
}

.task-item {
  grid-area: tasks;
}
