@import '~bootstrap/scss/bootstrap';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.acc-item {
  display: block;
  padding: 0;
}

.smenu {
  overflow: hidden;
  display: float;
  transition: max-height .3s;
  max-height: 0;
}

.smenu {
  // margin-top: 1px;
  text-align: center;
  a {
    color: black;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    &:hover {
      background: lightgray;
    }
  }
}

.item {
  &:hover {
    .smenu {
      max-height: 70px;
    }
  }
}

.container-2 {
  display: grid;
  grid-template-areas:
  'title title'
  'tasks create';
  width: 660px;
  margin: 0 auto;
  grid-gap: 10px;
}

.task-head {
  grid-area: title;
  text-align: center;
}

.task-create {
  grid-area: create;
  width: 330px;
}

.list-container {
  grid-area: tasks;
  display: grid;
  grid-template-areas:
  'check task';
  max-height: 45px;
}

// .task-container {
//   border: 1px solid black;
//   padding: 5px;
//   border-radius: 10px;
//   overflow: scroll;
//   max-height: 365px;
// }
.complete-check {
  // grid-area: check;
  width: 20px;
  padding: 10px;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-7%)
}

.task-items {
  margin: 1px 0 1px 0;
  width: 300px;
  padding: 10px;
  cursor: default;
  color: black;
  background: #87a0b2;
  transition: .3s;
  border-left: 10px solid #53687e00;
  &:hover {
    padding-left: -10px;
    border-left: 10px solid #53687e;
  }
}

.complete {
  opacity: .3;
  background-color: #95b69a;
}
