@import '~bootstrap/scss/bootstrap';

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: #3F51B5;
  margin-bottom: 30px;
}

.btn-primary {
  background: #3F51B5;
  border: 0;
  border-radius: 0;
  &:hover {
    background: #303F9F;
  }
}

.datetime-input {
  margin: 0 auto;
  width: 330px;
}

.accmenu {
  display: float;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}

.accmenu {
  // margin-top: 1px;
  display: block;
  text-align: right;
  .delete-btn {
    background: #FF5722;
    &:hover {
      background: #ff3d03;
    }
  }

  a {
    background: #3F51B5;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    padding: 0 10px;
    text-decoration: none;
    transition: .3s;
    &:hover {
      // box-shadow: 2px 2px 2px 2px #888888;
      background: #303F9F;
    }
  }
}

.item {
  &:hover {
    .accmenu {
      max-height: 70px;
    }
  }
}

.container-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  'title title'
  'tasks create';
  margin: 0 auto;
  width: 660px;
}

.task-head {
  grid-area: title;
  text-align: center;
}

.task-create {
  grid-area: create;
  width: 330px;
}

.list-container {
  display: grid;
  grid-area: tasks;
  grid-template-areas:
  'check task';
  max-height: 45px;
}

.complete-check {
  grid-area: check;
  margin-right: 10px;
  padding: 10px;
  top: 50%;
  transform: translateY(-7%);
  width: 20px;
}

.task-detail {
  text-align: center;
}

.task-items {
  background: #87a0b2;
  border-left: 10px solid #53687e00;
  color: white;
  margin: 1px 0;
  overflow: auto;
  padding: 10px;
  transition: .3s;
  white-space: nowrap;
  width: 300px;
  &:hover {
    border-left: 10px solid #53687e;
  }
}

.complete {
  background-color: #6e6e6e;
  opacity: .3;
}

.check {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

// form style
.form-title-input {
  border: 1px solid black;
  border-radius: .25rem;
  margin: 0 auto;
  padding: 6px 12px;
  width: 330px;
}

.form-description-input {
  border: 1px solid black;
  border-radius: .25rem;
  margin: 0 auto;
  padding: 6px 12px;
  width: 330px;
}

.form-tfrom-input {
  border: 1px solid black;
  border-radius: .25rem;
  margin: 0 auto;
  margin-bottom: .25rem;
  text-align: center;
  width: 330px;
}

.form-tto-input {
  border: 1px solid black;
  border-radius: .25rem;
  margin: 0 auto;
  text-align: center;
  width: 330px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
}

.form-submit {
  border: 0;
  padding: 5px;
  width: 165px;
  background: #3F51B5;
  color: white;
  transition: .3s;
  &:hover {
    color: white;
    background: #303F9F;
  }
}

.cancel-btn-container {
  display: flex;
  justify-content: center;
}

.cancel-btn {
  margin-top: 5px;
  border: 0;
  padding: 5px;
  width: 165px;
}

.heading-container {
  text-align: center;
}

.title-head {
  margin-bottom: 0;
}

.desc-head {
  margin: 8px 0 0 0;
}

.datetime-head {
  margin-bottom: 0;
}
// React Datetime style
.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}
