@import '~bootstrap/scss/bootstrap';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.accmenu {
  overflow: hidden;
  display: float;
  transition: max-height .3s;
  max-height: 0;
}

.accmenu {
  // margin-top: 1px;
  display: block;
  text-align: right;
  .delete-btn {
  background: #ff6961;
  &:hover {
    background: #f4c1c1;
  }
  }
  a {
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 5px;
    transition: .3s;
    background: #83af98;
    color: black;
    &:hover {
      // box-shadow: 2px 2px 2px 2px #888888;
      background: #c8c8a9;
    }
  }
}

.item {
  &:hover {
    .accmenu {
      max-height: 70px;
    }
  }
}

.container-2 {
  display: grid;
  grid-template-areas:
  'title title'
  'tasks create';
  width: 660px;
  margin: 0 auto;
  grid-gap: 10px;
}

.task-head {
  grid-area: title;
  text-align: center;
}

.task-create {
  grid-area: create;
  width: 330px;
}

.list-container {
  grid-area: tasks;
  display: grid;
  grid-template-areas:
  'check task';
  max-height: 45px;
}

// .task-container {
//   border: 1px solid black;
//   padding: 5px;
//   border-radius: 10px;
//   overflow: scroll;
//   max-height: 365px;
// }
.complete-check {
  grid-area: check;
  width: 20px;
  padding: 10px;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-7%)
}

.task-items {
  margin: 1px 0 1px 0;
  width: 300px;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
  color: black;
  background: #87a0b2;
  transition: .3s;
  border-left: 10px solid #53687e00;
  &:hover {
    border-left: 10px solid #53687e;
  }
}
.task-item {
  text-align: center;
}
.complete {
  opacity: .3;
  background-color: #95b69a;
}
